<?xml version="1.0"?>
<!-- Basic robot node representation -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_node">
    <xacro:arg name="robot_node_name" default="robot_node" />

    <!-- Import RViz colors -->
    <xacro:include filename="$(find ron_description)/urdf/materials.xacro" />

    <!-- Import our robot node's ros2_control description -->
    <xacro:include filename="$(find ron_description)/urdf/robot_node_description.urdf.xacro" />
    <xacro:include filename="$(find ron_description)/urdf/robot_node.ros2_control.xacro" />

    <!-- Generate the URDF for a robot node -->
    <xacro:robot_node name="$(arg robot_node_name)" />
    <xacro:robot_node_ros2_control name="$(arg robot_node_name)" />
</robot>
