<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_node_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
      </hardware>
      <joint name="${name}_left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${name}_right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <gazebo>
      <!-- Joint state publisher -->
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find ron_description)/config/robot_node_controller_manager.yaml</parameters>
        <ros>
          <namespace>${name}</namespace>
          <!-- <remapping>/tf:=tf</remapping> -->
          <!-- <remapping>/tf_static:=tf_static</remapping> -->
        </ros>
      </plugin>
    </gazebo>

  </xacro:macro>

</robot>
